body {
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    user-select: none;
  }
  #nothing {
    position: fixed;
    margin: 0;
    padding-top: 50px;
    width: 100%;
    background-color: black;
    z-index: 4;
  }
  .heading {
    font-size: 30px;
    color: black;
    position: absolute;
    left: 18vw;
    font-family: "Arial", sans-serif;
    height: 45px;
    width: 300px;
    border-bottom: 3px solid;
    border-bottom-color: green;
    z-index: 1;
    overflow: hidden;
  }
  .heading span {
    display: inline-block;
    background-color: green;
    padding: 0 40px 0 30px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .heading span:before {
    position: absolute;
    content: "";
    width: 92%;
    height: 100%;
    background-color: green;
    z-index: -1;
    transform: rotate(45deg);
  }
  .hr {
    border: none;
    border-top: 10px dotted;
    width: 75px;
    border-color: grey;
  }
  @media screen and (min-width: 600px) and (max-width: 1300px) {
    .heading {
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 600px) {
    .heading {
      margin-top: -75px;
    }
  }
  /* main elments */
  .main {
    color: white;
    padding-top: 175px;
  }
  .section-div {
    margin-left: 125px;
    width: 250px;
    border-bottom: 1.5px solid green;
    text-align: left;
  }
  .section-heading {
    width: 80%;
    margin-bottom: 2px;
    background-color: green;
    border-top-right-radius: 5px;
    border-top-left-radius: 2px;
    padding-left: 5px;
    color: black;
  }
  @media screen and (max-width: 750px) {
    .section-div {
      margin-left: 50px;
    }
  }
  /* nav-bar start*/
  nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    border: 1px solid;
    border-color: white;
    border-radius: 15px;
    margin: 0 2%;
    padding: 3px;
    top: 4vh;
    z-index: 4;
  }
  .test {
    background-color: green;
  }
  .non-test {
    background-color: black;
  }
  .mini-nav {
    background-color: rgb(0 0 0 / 75%);
    position: sticky;
    display: inline-grid;
    grid-template-columns: auto;
    row-gap: 10px;
    height: 550px;
    width: 150px;
    padding: 75px;
  }
  .menu {
    display: none;
    text-align: center;
    height: 50px;
    background-color: black;
    border-radius: 15px;
  }
  .menu:hover {
    background-color: grey;
  }
  
  .grid-item {
    display: flex;
    height: 25px;
    width: auto;
  }
  .grid-item1 {
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    grid-column-start: 1;
    grid-column-end: 4;
    border: none;
    font-size: 5vh;
    color: transparent;
    -webkit-text-stroke: 0.5px #ffffff;
  }
  .grid-item1::before {
    background: grey;
  }
  .icon {
    display: flex;
    font-size: 4vh;
    vertical-align: baseline;
  }
  .a {
    border: 1px solid;
    padding: 12px 2%;
    border-color: white;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 1s;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .a:hover {
    color: black;
    #about-icon .icon1 {
      border-color: black;
      font-size: 15px;
    }
  }
  .a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: white;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .a:hover::before {
    height: 180%;
  }
  .icon1 {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: baseline;
  }
  #about-icon .icon1 {
    font-size: 10px;
    padding: 6px 9px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: bold;
  }
  .close {
    display: none;
    text-align: center;
    background-color: black;
    border-radius: 200%;
  }
  @media screen and (max-width: 900px) {
    nav {
      grid-template-columns: auto auto auto;
    }
    .menu {
      display: block;
    }
    .grid-item {
      text-align: center;
      padding-top: 25px;
      display: none;
    }
    .grid-item1 {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
  /* nav-bar ends */
  /* Home-Section starts */
  .Home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: black;
  }
  .column {
    border-radius: 25px;
    width: 35vw;
    height: 70vh;
    color: white;
    padding: 2%;
  }
  .column.img {
    display: flex;
    justify-content: center;
  }
  .dev-name {
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke: 1.5px green;
  }
  .name-span {
    font-size: 3vw;
  }
  
  .img {
    height: 36vw;
    width: 36vw;
  }
  .icons {
    margin: 12% auto;
    display: flex;
    justify-content: space-around;
  }
  .icon2 {
    color: white;
    -webkit-text-stroke: 0.5px white;
  }
  .icon2:hover {
    font-size: 5vh;
    color: white;
  }
  @media screen and (max-width: 900px) {
    .Home-container {
      flex-direction: column;
      justify-content: space-between;
    }
    .column {
      display: flex;
      min-width: 85vw;
      min-height: 85vh;
      align-items: center;
    }
    .column.img {
      display: none;
    }
    .dev-name {
      font-size: 5vw;
    }
    .name-span {
      font-size: 4vw;
    }
    .icons {
      margin: auto;
      position: absolute;
      top: 70vh;
      left: 2vw;
      z-index: 3;
    }
    .icon2 {
      padding: 7vw;
      border-radius: 15px;
    }
    .icons:hover {
      font-size: auto;
    }
  }
  
  /* Home-section ends */
  /* middle container */
  
  /* about  */
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: black;
  }
  .profile-pic {
    width: 400px;
    height: 400px;
  }
  .about-col {
    margin: 5% 2%;
  }
  .about-para {
    width: 60vw;
  }
  @media screen and (max-width: 1200px) {
    .about {
      flex-flow: column;
    }
    .profile-pic {
      width: 250px;
      height: 250px;
    }
  }
  /* head-container ends */
  
  /* middle container */
  
  /* about  */
  span {
    font-weight: bold;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
  }
  .profile-pic {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
  .about-col {
    margin: 5% 2%;
  }
  .intro {
    font-family: sans-serif;
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke: 2px green;
    margin: 5% 0;
  }
  .about-para {
    font-size: 1.3rem;
    width: 50vw;
    font-family: "Merriweather", serif;
    color: #556a66;
    line-height: 2rem;
  }
  @media screen and (max-width: 1200px) {
    .about {
      flex-flow: column;
      justify-content: flex-start;
    }
    .profile-pic {
      padding: 20px;
      width: 80vw;
      height: 80vw;
    }
    .about-col {
      margin: 2% 1%;
    }
    .about-para {
      line-height: 1.5rem;
      width: 70vw;
      font-size: 1rem;
    }
    .intro {
      font-size: 12vw;
      -webkit-text-stroke: 1px green;
    }
  }
  /* about tab ends */
  /* middle container */
  /* about starts */
  span {
    font-weight: bold;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
  }
  .profile-pic {
    width: 400px;
    height: 400px;
  }
  .about-col {
    margin: 5% 2%;
  }
  .intro {
    font-family: sans-serif;
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke: 2px green;
    margin: 5% 0;
  }
  .about-para {
    font-size: 1.3rem;
    width: 50vw;
    font-family: "Merriweather", serif;
    color: #556a66;
    line-height: 2rem;
  }
  @media screen and (max-width: 1200px) {
    .about {
      flex-flow: column;
      justify-content: flex-start;
    }
    .profile-pic {
      padding: 20px;
      width: 80vw;
      height: 80vw;
    }
    .about-col {
      margin: 2% 1%;
    }
    .about-para {
      line-height: 1.5rem;
      width: 70vw;
      font-size: 1rem;
    }
    .intro {
      font-size: 12vw;
      -webkit-text-stroke: 1px green;
    }
  }
  /* about ends */
  /* intrests starts */
  .intrests {
    min-height: 85vh;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;
    padding: 120px 100px 0 100px;
  }
  .intrest-col {
    display: flex;
    border: 2px solid;
    border-color: white;
    height: 200px;
    width: 350px;
    border-radius: 3px;
    overflow: hidden;
  }
  .intrest-img {
    height: 200px;
    width: 350px;
    border: 0.2px solid;
    border-color: grey;
    border-radius: 3px;
  }
  .intrest-img:hover {
    transform: scale(1.1) rotate(-2deg);
  }
  .intrest-name {
    width: 350px;
    height: 80px;
    z-index: 3;
    color: white;
    position: relative;
    right: 250px;
    bottom: 80px;
    box-sizing: border-box;
    background-color: rgba(54, 46, 46, 0.711);
    visibility: hidden;
  }
  @keyframes name {
    0% {
      bottom: 80px;
    }
    100% {
      bottom: 0px;
    }
  }
  .intrest-col:hover .intrest-name {
    visibility: visible;
    animation-name: name;
    animation-duration: 1s;
  }
  @media screen and (min-width: 600px) and (max-width: 1300px) {
    .intrests {
      grid-template-columns: auto auto;
    }
    .intrest-col {
      margin: 5%;
    }
  }
  @media screen and (max-width: 600px) {
    .intrests {
      grid-template-columns: auto;
    }
    .intrest-col {
      margin: 5%;
    }
  }
  /* intrest-end */
  
  /* skills-start*/
  
  .skills-r {
    min-height: 60vh;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    padding-bottom: 50px;
  }
  .skills-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 200px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: black;
    border-radius: 2px;
  }
  
  .skill-icon {
    font-size: 50px;
    margin: 15px;
  }
  .heading.two {
    margin-top: 150px;
  }
  @media screen and (max-width: 1300px) and (min-width: 600px) {
    .skills-r {
      grid-template-columns: auto auto;
      padding-top: 75px;
    }
  }
  @media screen and (max-width: 600px) {
    .skills-r {
      grid-template-columns: auto;
      padding-top: 75px;
    }
  }
  
  /* Education */
  #education {
    min-height: 100vh;
  }
  #education-row {
    min-height: 40vh;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
  }
  .education-col {
    height: 300px;
    width: 300px;
    background-color: rgb(138, 138, 148);
    text-align: center;
    margin: 50px 50px;
  }
  .edu-img {
    margin-top: 5px;
    width: 290px;
    height: 200px;
  }
  .edu-name {
    margin-top: 10px;
    color: white;
    font-size: 20px;
  }
  .heading.one {
    left: 215px;
    margin-top: -550px;
  }
  .heading.one span:before {
    width: 140%;
  }
  .platform-names {
    color: white;
  }
  @media screen and (max-width: 1300px) and (min-width: 600px) {
    #education-row {
      grid-template-columns: auto auto;
    }
  }
  @media screen and (max-width: 600px) {
    #education-row {
      grid-template-columns: auto;
      padding: 50px 0;
    }
  }
  /* education section ends */
  
  /* resume section starts */
  .resume {
    min-height: 85vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pdf {
    min-width: 60vw;
    min-height: 70vh;
  }
  /* experience  section*/
  #Experience-row {
    min-height: 60vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    padding-bottom: 100px;
    padding-top: 50px;
  }
  .experience-col {
    height: 350px;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 10px solid grey;
  }
  .experience-img {
    height: 175px;
    width: 300px;
  }
  .experience-info {
    height: 200px;
    width: 300px;
    background-color: grey;
  }
  #Experience p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
  }
  .property {
    width: 45%;
    padding-left: 15px;
    color: black;
  }
  .value {
    width: 45%;
    padding-right: 15px;
    color: white;
  }
  @media screen and (min-width: 600px) and (max-width: 1200) {
    #Experience-row {
      grid-template-columns: auto auto;
      row-gap: 50px;
    }
  }
  @media screen and (max-width: 600px) {
    #Experience-row {
      grid-template-columns: auto;
      row-gap: 50px;
    }
  }
  /* certified section */
  #Certificates-row {
    min-height: 60vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    row-gap: 25px;
    padding-bottom: 100px;
    text-align: center;
  }
  .certificates-col {
    width: 300px;
    height: 200px;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
  }
  .certificate-img {
    width: 300px;
    height: 200px;
  }
  .certificate-para {
    color: grey;
    position: relative;
    top: -125px;
  }
  .certificate-about {
    height: 120px;
    width: 310px;
    background-color: rgba(0, 0, 0, 0.718);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -113px;
    left: -8px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    visibility: hidden;
    border: 5px solid skyblue;
    /* filter: blur(20px); */
  }
  .certificate-a {
    text-decoration: none;
  }
  .certificate-a:hover .certificate-about {
    visibility: visible;
  }
  .certificate-a:hover .certificate-img {
    filter: blur(1.5px);
  }
  .certificate-icon {
    margin: 5px;
    padding: 5px 10px;
    font-size: 15px;
    border: 1.5px solid white;
    border-radius: 50%;
  }
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    #Certificates-row {
      grid-template-columns: auto auto;
      padding: 50px 0;
    }
  }
  @media screen and (max-width: 600px) {
    #Certificates-row {
      grid-template-columns: auto;
      padding: 100px 0;
      row-gap: 50px;
    }
  }
  